.viewport {
  position: relative;
  overflow: hidden;
  border: 1px solid black;
  user-select: none;
  margin: 0 auto;
}

.stage {
  position: absolute;
  border: 1px solid black;
  will-change: translate;
  cursor: grab;
	background: center url("/hex.svg");
	background-size: 64px;
}

.stage:active {
  cursor: grabbing;
}

.entity-container {
  top: 0;
  left: 0;
  position: absolute;
  will-change: translate, rotate;
  transition-property: translate, rotate;
  transition-duration: 2s;
  transition-timing-function: ease-in-out;

  div {
    position: absolute;
    translate: -50% -50%;
  }

}

.selected::after {
  content: '';
  position: absolute;
  top: -30%;
  left: -30%;
  right: -30%;
  bottom: -30%;
  border: 2px solid red;
  border-radius: 50%;
  z-index: -1;
}